<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="UnishareDB"
			 connectionString="Data Source=JUSTT_M\SQLEXPRESS;Initial Catalog=Group11UnishareDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>

	</system.web>

	### Step 2: Create the Database Helper Class
	Now, let's create a class whose only job is to talk to the database.

	1. Right-click your project in the Solution Explorer.
	2. Select **Add** > **Class...**
	3. Name it `DatabaseHelper.cs`.
	4. Replace the default code with this:

	```csharp
	using System;
	using System.Configuration;
	using System.Data.SqlClient;

	namespace Group11Unishare
	{
	public static class DatabaseHelper
	{
	// This method grabs the connection string from Web.config
	public static string GetConnectionString()
	{
	// "UnishareDB" must match the name you used in Web.config
	return ConfigurationManager.ConnectionStrings["UnishareDB"].ConnectionString;
	}

	// This is a handy shortcut method that returns a ready-to-use SQL Connection
	public static SqlConnection GetConnection()
	{
	return new SqlConnection(GetConnectionString());
	}
	}
	}
</configuration>